body{
    background-color:  #ede6e3;
}

.container {
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
}

.form-control{
    background-color: #fff;
}

#game-setup{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    perspective: 1000px;
}

.card {
    width: 140px !important;
    height: 140px !important;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#game-end{
    position:absolute;
    position: fixed;
    bottom: 7%;
    left: 50%;
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#timer {
    font-size: 24px;
    margin-right: 20px;
}

#restart-btn {
    font-size: 18px;
    width: 100px;
}

#new-game-btn{
    font-size: 18px;
}

.card:active{
    transform: scale(.97);
}

.card.flipped{
    transform: rotateY(180deg);
}

.card.matched{
    transform: rotateY(180deg);
}

.back-image,
.front-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
}

.card .back-image{
    background-image: url('./images/memory_fixed.png');
    border-radius: 10px;;
}

.hidden {
    display: none;
}

#superbText{
    position: absolute;
    top: 50px;
    font-size: 50px;
    font-family: cursive;
    left: 80px
}

#msgText{
    position: absolute;
    top: 160px;
    left: 30px;
    font-family: cursive;
    font-size:large;
}

#congratsText{
    position: absolute;
    top: -10px;
    left: 70px;
    font-family: cursive;
    font-size: 25px;
    max-width: fit-content;
}

#numAttempts{
    position: absolute;
    width: max-content;
    top: 70px;
    left: 80px;
    font-family: cursive;
    font-size: large;
}

#totalTime{
    position: absolute;
    width: max-content;
    top: 100px;
    left: 85px;
    font-family: cursive;
    font-size: large;
}

.btn-close{
    display: block;
    width: 32px;
    position: absolute !important;
    left: 350px;
    font-size: 20px;
    top: 10px;
}

#new-game-btn{
    position: absolute;
    bottom: 30px;
    right: 140px;
}

#submit-btn{
    margin-top: 20px;
}

#pause-resume-btn{
    margin-left: 5px;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

#pause-resume-btn :active{
    display: flex;
    text-align: center;
}

#result-info{
    animation-name: bounceIn;
    animation-duration: 3s;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
    padding: 20px;
    min-height: 200px;
    position: absolute;
    opacity: 1;
    background-color: #FFFFFF;
    border: 2px solid #505050;
    overflow: visible;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 5px 9px 5px rgba(0,0,0,0);
    box-sizing: border-box;
    left: 0;
    max-width: 400px !important;
    max-height: 400px !important;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    top: 110px;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.5);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
